@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}
.makes {
  display: inline-block;
  margin-right: 1%;
  padding-left: 1%;
}
.serving-input {
  display: inline-block;
}
.servings {
  display: inline-block;
  margin-left: 1%;
}
.adjust-serving {
  margin-left: 2%;
}
.qty {
  display: inline-block;
  padding-right: 0.5%;
  font-family: 'Arial';
}
.name {
  display: inline-block;
  padding-left: 0.5%;
  font-family: 'Arial';
}
.unit {
  display: inline-block;
  font-family: 'Arial';
}
.recipe-ul {
  list-style-type: none;
}
.radio {
  margin-right: 1%;
}
.input-form {
  border: 1px dotted black;
  width: 500px;
}
.add-recipe-div {
  float: right;
  margin-top: -40%;
  margin-right: 18%;
}
.create-ul {
  list-style-type: none;
}
.save-recipe-btn {
  margin-top: 7%;
}
